{% block content %}
	<div class="container overflow-hidden">
		<!-- Page Main Title -->
		<h1 class="font-slim text-4xl sm:text-7xl rtl:pl-3 ltr:pr-3" id="page-main-title">{{ page.title|raw }}</h1>

		<!-- Custom Main Menu -->
		<custom-main-menu class="text-xl sm:text-2xl"></custom-main-menu>

		<div
			class="flex flex-col sm:flex-row gap-4 items-center sm:items-start justify-center" id="product-{{ product.id }}">

			<!-- Main Content -->
			<div class="main-content w-full sm:w-1/2 flex-1 max-w-[90vw] sm:max-w-[35vw]">

				{% hook 'product:single.description.start' %}

				<!-- Product Header -->
				<div class="text-center mb-4">
					<h1 class="text-4xl sm:text-3xl leading-10 font-slim inline-block">{{ product.name }}</h1>
					<span class="inline-block mx-4 border-b border-[#a5804a] w-[110px]"></span>
					{% if product.promotion_title %}
						<div class="text-2xl font-slim inline-block">{{ product.promotion_title }}</div>
					{% endif %}
				</div>

				<!-- Product Description -->
				<div class="product__description text-xl sm:text-2xl p-2 px-5 sm:p-1 leading-7 mb-3 text-center max-w-[90vw] sm:max-w-[35vw] mx-auto">
					{% set product_desc = product.description|replace({"&nbsp;":"\n"}) %}
					{% if product.has_read_more %}
						<article class="article article--main relative leading-8 overflow-hidden transition-all duration-300 py-4 max-h-[5.25rem]" id="more-content">
							{{ product_desc|raw }}
						</article>
						<!-- Read More Button -->
						<a id="btn-show-more" class="link--primary inline-block mt-2 cursor-pointer">
							{{ trans('pages.products.read_more') }}
						</a>
					{% else %}
						<article class="article--main pb-1">
							{{ product_desc|raw }}
						</article>
					{% endif %}
				</div>

				{% hook 'product:single.description' %}

				<!-- Product Form -->
				<form class="form product-form text-center max-w-[90vw] sm:max-w-[35vw] mx-auto" enctype="multipart/form-data" method="post" onsubmit="return salla.form.onSubmit('cart.addItem', event)">
					<input type="hidden" name="id" value="{{ product.id }}">

					{% hook 'product:single.form.start' %}

					<!-- Display Product Options -->
					{% include 'pages.partials.product.options' %}

					<!-- Display Product Price -->
					<div class="text-2xl font-bold mt-4">
						{% if product.is_on_sale %}
							<span class="text-red-500">{{ product.sale_price }} {{ product.currency }}</span>
							<span class="line-through text-gray-500">{{ product.regular_price }} {{ product.currency }}</span>
						{% else %}
							<span>{{ product.price }} {{ product.currency }}</span>
						{% endif %}
					</div>

					{% hook 'product:single.form.end' %}

					<!-- Add to Cart Button -->
					<section class="text-center mt-10">
						<div class="flex justify-center">
							<button class="custom-product-card-add-to-cart-btn" aria-label="Add to wishlist" onclick="salla.wishlist.toggle({{ product.id }})">
								أضف الى السلة
								<i class="fas fa-shopping-cart mr-2"></i>
							</button>
						</div>
					</section>
				</form>

				{% hook 'product:single.description.end' %}

			</div>

			<!-- Sidebar -->
			<div class="sidebar sm:w-1/2 pb-8 sm:pb-16 flex-1 max-w-[90vw] sm:max-w-[35vw]">
				<salla-slider id="details-slider-{{ product.id }}" type="thumbs" loop="true" auto-play pagination show-controls="false" style="height: 45vh;">
					<div slot="items" class="flex flex-wrap">
						{% for image in product.images %}
							{% if image.three_d_image_url %}
								<model-viewer style="height: 50%; width: 50%;" class="swiper-slide model-entry w-full h-full" loading="eager" camera-controls touch-action="pan-y" auto-rotate poster="{{ image.url }}" src="{{ image.three_d_image_url }}" shadow-intensity="1" alt="{{ image.alt }}"></model-viewer>
							{% else %}
								<a data-fslightbox="product_{{ product.id }}" data-img-id="{{ image.id }}" data-slid-index="{{ loop.index-1 }}" {% if image.video_url %} data-video-src="{{ image.video_url }}" {% endif %} data-caption="{{ image.alt }}" data-infinite="false" data-type="{{ image.video_url?'youtube':'image' }}" href="{{ image.video_url?image.video_url:image.url }}" aria-label="{{ product.name }}" class="swiper-slide magnify-wrapper homeslider__slide {{ image.video_url?'video-entry':'' }} w-full h-full">
									{% if loop.first %}
										<img id="{{image.id}}" fetchpriority="high" loading="eager" src="{{ image.url }}" alt="{{ image.alt }}" class="h-full object-cover w-full">
									{% else %}
										<img id="{{image.id}}" src="{{ 'images/s-empty.png' | cdn }}" data-src="{{ image.url }}" alt="{{ image.alt }}" class="lazy h-full object-cover w-full">
									{% endif %}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</salla-slider>
			</div>

		</div>


		<!-- Related Products -->
		<div class="container p-4 sm:p-10">
			<div class="container my-10 text-right">
				<h2 class="text-xl sm:text-2xl mb-2 inline-block mr-4">منتجات قد تعجبك</h2>
				<div class="w-[20vw] sm:w-[10vw] h-[1px] bg-[#a5804a] inline-block"></div>
			</div>
			<salla-products-slider product-card-component="custom-salla-product-card" class="flex-1 min-w-0 overflow-auto " source="related" source-value="{{product.id}}" display-all-url></salla-products-slider>
		</div>
	</div>
{% endblock %}
